
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1483602669095'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1483602669095#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1483602669095') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1483602669095') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1483602669095#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  display: inline-block;    // 此处不能修改，否则icon-spin 不可用
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cry-o:before { content: "\e60f"; }

.icon-info:before { content: "\e617"; }

.icon-upgrade:before { content: "\e63d"; }

.icon-arrow-thin-up:before { content: "\e626"; }

.icon-list:before { content: "\e628"; }

.icon-arrow-triangle-up:before { content: "\e616"; }

.icon-user:before { content: "\e601"; }

.icon-loading:before { content: "\e699"; }

.icon-clear-day:before { content: "\e632"; }

.icon-wind:before { content: "\e633"; }

.icon-partly-cloudy-day:before { content: "\e639"; }

.icon-clear-night:before { content: "\e63a"; }

.icon-fog:before { content: "\e63e"; }

.icon-snow:before { content: "\e641"; }

.icon-cloudy:before { content: "\e644"; }

.icon-rain:before { content: "\e646"; }

.icon-partly-cloudy-night:before { content: "\e647"; }

.icon-arrow-thin-down:before { content: "\e656"; }

.icon-location-empty:before { content: "\e66d"; }

.icon-location:before { content: "\e66e"; }

.icon-info-square:before { content: "\e66f"; }

.icon-arrow-circle-down:before { content: "\e670"; }

.icon-arrow-circle-up:before { content: "\e671"; }

.icon-layer:before { content: "\e672"; }

.icon-cutline:before { content: "\e676"; }

.icon-return:before { content: "\e677"; }

.icon-broadcast:before { content: "\e678"; }

.icon-bell:before { content: "\e679"; }

.icon-close:before { content: "\e67a"; }

.icon-arrow-thin-left:before { content: "\e673"; }

.icon-arrow-thin-right:before { content: "\e674"; }

.icon-plus:before { content: "\e67b"; }

.icon-arrow-triangle-down:before { content: "\e675"; }

.icon-clock:before { content: "\e67d"; }

.icon-toggle-off:before { content: "\e67e"; }

.icon-toggle-on:before { content: "\e67f"; }

.icon-play:before { content: "\e684"; }

.icon-pause:before { content: "\e687"; }

.icon-voice:before { content: "\e688"; }
